<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="evening.bread.excel.model"/>
        <package name="evening.bread.excel.model.req"/>
        <package name="evening.bread.excel.model.resp"/>
    </typeAliases>
</configuration>